---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Advanced">
    <main>
        <h1 class="text-white text-center font-thin text-2xl">Advanced Python Projects</h1>
        <p class="text-white"> nth here yet :(((</p>
    </main>
</Layout>