---
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
const projects = await getCollection('beginnerPython')

---
<Layout title = "Python">
    <main>
        
        <h1 class="text-white text-center font-thin text-2xl">Welcome to my python projects</h1>
        <p class="text-white font-thin text-lg px-20 py-10">I do stuff in python and here are some projects</p>
        <ul role="list" class="grid gap-4 place-items-stretch grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-5 md:px-20">
            {projects.map((c) =>
            
            <ProjectCard
            href={c.data.file_name}
            title={c.data.title}
            body={c.data.body}
            sameTab ={c.data.sameTab? true : false}
            />)}
        </ul>

    </main>
</Layout>