---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Pro">
    <main>
        <h1 class="text-white text-center font-thin text-2xl">Pro Python Projects</h1>
        <p class="text-white">Sorry nth here yet :(((</p>
    </main>
</Layout>