---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Nick.">
	<main>
		<h1><span class="text-gradient">Personal</span></h1>
        <ul role="list" class="grid gap-4 place-items-stretch grid-cols-1 md:grid-cols-2 px-5 md:px-20">
        <Card
            href="/python/beginner"
            title="Beginner Projects"
            body="Beginner Python Projects"
        />
        <Card
            href="/python/intermediate"
            title="Intermediate Projects"
            body="Intermediate Python Projects"
        />
        <Card
            href="/python/advanced"
            title="Advanced Projects"
            body="Advanced Python Projects"
        />
        <Card
            href="/python/pro"
            title="Pro Projects"
            body="Pro Python Projects"
        />
        <Card
            href="/python/advanced"
            title="Advanced Projects"
            body="Advanced Python Projects"
        />
        <Card
            href="/python/pro"
            title="Pro Projects"
            body="Pro Python Projects"
        />
        <Card
            href="/python/advanced"
            title="Advanced Projects"
            body="Advanced Python Projects"
        />
        <Card
            href="/python/pro"
            title="Pro Projects"
            body="Pro Python Projects"
        />
        <Card
            href="/python/advanced"
            title="Advanced Projects"
            body="Advanced Python Projects"
        />
        <Card
            href="/python/pro"
            title="Pro Projects"
            body="Pro Python Projects"
        />
        </ul>

	</main>
    
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	} */
	main{
		color: white;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin: auto;
		width: 80%;
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

</style>