---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title = "Python">
    <main>
        
        <h1 class="text-white text-center font-thin text-2xl">Welcome to my python projects</h1>
        <p class="text-white font-thin text-lg px-20 py-10">I do stuff in python and here are some projects</p>
        <ul role="list" class="grid gap-4 place-items-stretch grid-cols-1 md:grid-cols-2 px-5 md:px-20">
        <Card
            href="/python/beginner"
            title="Beginner Projects"
            body="Beginner Python Projects"
        />
        <Card
            href="/python/intermediate"
            title="Intermediate Projects"
            body="Intermediate Python Projects"
        />
        <Card
            href="/python/advanced"
            title="Advanced Projects"
            body="Advanced Python Projects"
        />
        <Card
            href="/python/pro"
            title="Pro Projects"
            body="Pro Python Projects"
        />
        </ul>

    </main>
</Layout>