---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title = "Web">
    <main>
        
        <h1 class="text-white text-center font-thin text-2xl">Welcome to my web projects</h1>
        <p class="text-white font-thin text-lg px-20 py-10">I do html js and css stuff and boom you get a website</p>
        <ul role="list" class="grid gap-4 place-items-stretch grid-cols-1 md:grid-cols-2 px-5 md:px-20">
            <Card
            href="/web/intermediate"
            title="Intermediate Projects"
            body="Intermediate Web Projects"
            />
        </ul>

    </main>
</Layout>